.info-popup {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 200px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px 0 0 0;
}